@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

header {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
}
header .header-top {
  width: 100%;
  height: 60%;
  padding: 2% 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-top .header-logo img {
  width: 100px;
  height: auto;
}
header .header-top .search-container {
  font-size: 24px;
}
header .header-top .header-social .social-media {
  display: flex;
  gap: 5px;
  list-style: none;
  font-size: 24px;
}
header .header-top .header-social .social-media a {
  color: black;
}
header hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
header .header-down {
  width: 100%;
  height: 40%;
  padding-top: 10px;
  align-self: center;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-down .header-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-down .header-nav .header-links {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  align-self: center;
  list-style: none;
}
header .header-down .header-nav .header-links a {
  color: inherit;
  text-underline-offset: var(--offset, 0.1em);
  -webkit-text-decoration: underline 0.09em;
          text-decoration: underline 0.09em;
  transition: --offset 1000ms, text-decoration-color 1000ms;
  transition: all 1s;
}
header .header-down .header-nav .header-links a:hover, header .header-down .header-nav .header-links a:focus {
  font-size: 24px;
  --offset: 0.4em;
  text-decoration-color: #4B8673;
  color: #4B8673;
  -webkit-text-decoration: underline 0.2em;
          text-decoration: underline 0.2em;
}

main {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(to right, rgb(0, 0, 1), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url("/images/main-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}
main .left-main {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .left-main .main-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main .left-main .main-text h1 {
  font-size: 64px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: 5px 5px #4B8673;
}
main .left-main .main-text h1 strong {
  color: #4B8673;
  text-shadow: 3px 3px rgb(255, 255, 255);
}
main .left-main .main-text p {
  width: 85%;
  align-self: center;
  font-size: 20px;
  color: white;
}
main .left-main .main-buttons {
  display: flex;
  gap: 50px;
}
main .left-main .main-buttons button {
  width: 200px;
  height: 50px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: all 1s;
}
main .left-main .main-buttons .products {
  background-color: #4B8673;
  color: white;
}
main .left-main .main-buttons .products:hover {
  width: 220px;
  height: 60px;
  font-size: 20px;
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.537);
}
main .left-main .main-buttons .services {
  background: none;
  border: 3px solid #4B8673;
  color: white;
}
main .left-main .main-buttons .services:hover {
  width: 220px;
  height: 60px;
  font-size: 20px;
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.537);
}

.section-a {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-a .top-service {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #4B8673;
}
.section-a .top-service .top-srv {
  height: 120px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-a .top-service .top-srv h3 {
  transition: all ease-in-out 0.5s;
}
.section-a .top-service .top-srv .service-button {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-a .top-service .top-srv .service-button .inside {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  background-color: #4B8673;
  position: absolute;
  transition: all ease-in-out 0.5s;
}
.section-a .top-service .top-srv .service-button .outside {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #4B8673;
  background: none;
  position: absolute;
  opacity: 0.6;
  transition: all ease-in-out 0.5s;
}
.section-a .top-service .top-srv .service-button .outside2 {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid #4B8673;
  background: none;
  position: absolute;
  opacity: 0.4;
  transition: all ease-in-out 0.5s;
}
.section-a .top-service .top-srv:hover h3 {
  font-size: 24px;
  color: #00BB7F;
}
.section-a .top-service .top-srv:hover .inside {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background-color: #00BB7F;
  position: absolute;
}
.section-a .top-service .top-srv:hover .outside {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #00BB7F;
  background: none;
  position: absolute;
  opacity: 0.6;
}
.section-a .top-service .top-srv:hover .outside2 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #00BB7F;
  background: none;
  position: absolute;
  opacity: 0.4;
}
.section-a .main-service {
  height: 50%;
  width: 60%;
  padding-top: 10%;
  align-self: center;
  justify-self: center;
  text-align: center;
  gap: 50px;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section-a .main-service .header-service {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #4B8673;
  font-size: 24px;
}
.section-a .main-service .header-service hr {
  width: 30px;
  height: 3px;
  background: #4B8673;
}
.section-a img {
  padding-top: 40px;
  width: 100px;
  opacity: 0.3;
  transition: all ease-in-out 1s;
}

.section-b {
  width: 100%;
  height: 80vh;
  padding: 0 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.section-b .product-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #4B8673;
  font-size: 24px;
}
.section-b .product-header hr {
  width: 30px;
  height: 3px;
  background: #4B8673;
}
.section-b .product-text {
  font-size: 18px;
  line-height: 30px;
}
.section-b .product-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 12%;
}
.section-b .product-container .product {
  width: 300px;
  height: 350px;
  background-image: url("/images/product.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.section-b .product-container .product .product-name {
  background-color: #4B8673;
  height: 50px;
  transition: all ease-in-out 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  color: white;
}
.section-b .product-container .product .product-name h4 {
  transition: all 1s;
}
.section-b .product-container .product .product-name a {
  display: none;
  transition: all ease-in-out 1s;
}
.section-b .product-container .product:hover .product-name {
  background-color: #4B8673;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  color: white;
}
.section-b .product-container .product:hover .product-name a {
  display: flex;
  font-size: 14px;
  text-decoration: none;
  color: white;
  padding-top: 10px;
  position: absolute;
  padding-top: 50px;
}/*# sourceMappingURL=index.css.map */