@import "./style";

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
}

body{
   font-family: $opensans;
   font-size: 16px;
   background-color: $white-bg;
}

header{ 
   width: 100%;
   height: 15vh;
   display: flex;
   flex-direction: column;

   .header-top{
      width: 100%;
      height: 60%;
      padding: 2% 10%; 

      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-logo{
         img{
            width: 100px;
            height: auto;
         }
      }

      .search-container{
         .search {
            width: 300px;
            position: relative;
            input {
               width: 100%;
               outline: none;
               height: 30px;
               font-size: 18px;
               border: 1px solid $main-green;  
            }
            button {
               position: absolute;
               z-index: 2;
               width: 40px;
               height: 30px;
               cursor: pointer;
               background-color: $main-green;
               border: none;
               font-size: 18px;
               right: 1px;
               color: white;
               transition: all 1s;
               &:hover{
                  font-size: 26px;
               }
               
            }
         }
      }
   
      .header-social{

         .social-media{
            display: flex;
            gap: 5px;

            list-style: none;
            font-size: 24px;
            a{
               color: $main-green;
            }
         }
      }
   }

   hr {
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }

  .header-down{
      width: 100%;
      height: 40%;

      padding-top: 10px;
      align-self: center;
      justify-self: center;

      @include flexBox;
      .header-nav{
         width: 100%;
         @include flexBox;
         
         .header-links{
            width: 60%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            
            font-size: 20px;
            font-weight: 600;
            align-self: center;
            list-style: none;
            
            a{
               color: inherit;
               text-underline-offset: var(--offset, 0.1em);
               text-decoration: underline 0.09em;
               transition: --offset 1000ms, text-decoration-color 1000ms;
               transition: all 1s;
               &:hover,
               &:focus {
                  font-size: 24px;
                  --offset: 0.4em;
                  text-decoration-color: $main-green;
                  color: $main-green;
                  text-decoration: underline 0.20em;
               }
            }
         }
      }

  }

}

main{
   width: 100%;
   height: 85vh;

   background-image: linear-gradient(to right,rgb(0, 0, 0.8),rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),url("/images/main-bg.jpg");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   
   display: flex;
   .left-main{
      width: 50%;
      text-align: center;

      display: flex;
      flex-direction: column;
      gap: 50px;
      @include flexBox;
      
      .main-text{
         display: flex;
         flex-direction: column;
         gap: 30px;
         h1{
            font-size: 64px;
            color: white;
            text-transform: uppercase;
            font-weight: 600;
            text-shadow: 5px 5px $main-green;
            strong{
               color: $main-green;
               text-shadow: 3px 3px rgb(255, 255, 255);
            }
         }
         p{
            width: 85%;
            align-self: center;
            font-size: 20px;
            color: white;
         }
      }

      .main-buttons{
         display: flex;
         gap: 50px;
         button{
            width: 200px;
            height: 50px;
            font-size: 18px;
            font-weight: 400;
            cursor: pointer;
            transition: all 1s;
         }
         .products{
            background-color: $main-green;
            color: white;
            &:hover{
               width: 220px;
               height: 60px;
               font-size: 20px;
               box-shadow: 0 3px 10px rgba(255, 255, 255, 0.537);
            }
         }
         .services{
            background: none;
            border: 3px solid $main-green;
            color: white;
            &:hover{
               width: 220px;
               height: 60px;
               font-size: 20px;
               box-shadow: 0 3px 10px rgba(255, 255, 255, 0.537);
            }
            
         }
      }
   }
}

.section-a{
   width: 100%;
   height: 70vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   
   .top-service{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      color: $main-green;
      .top-srv{
         height: 120px;
         width: 200px;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;

         h3{
            transition: all ease-in-out .5s;
         }
         .service-button{
            padding-top: 30px;
            @include flexBox;
            .inside{
               width: 15px;
               height: 15px;
               border-radius: 50%;
               border: none;
               background-color: $main-green;
               position: absolute;
               transition: all ease-in-out .5s;
            }
            .outside{
               width:35px;
               height: 35px;
               border-radius: 50%;
               border: 2px solid $main-green;
               background: none;
               position: absolute;
               opacity: .6;
               transition: all ease-in-out .5s;
            }
            .outside2{
               width: 55px;
               height: 55px;
               border-radius: 50%;
               border: 1px solid $main-green;
               background: none;
               position: absolute;
               opacity: .4;
               transition: all ease-in-out .5s;
            }

            
               
         }

         &:hover{
            h3{
               font-size: 24px;
               color: $second-green;
            }
            .inside{
               width: 20px;
               height: 20px;
               border-radius: 50%;
               border: none;
               background-color: $second-green;
               position: absolute;
            }
            .outside{
               width:40px;
               height: 40px;
               border-radius: 50%;
               border: 2px solid $second-green;
               background: none;
               position: absolute;
               opacity: .6;
            }
            .outside2{
               width: 60px;
               height: 60px;
               border-radius: 50%;
               border: 1px solid $second-green;
               background: none;
               position: absolute;
               opacity: .4;
            }

      }
   } 
  }

  .main-service{
   height: 50%;
   width: 60%;
   padding-top: 50px;
   align-self: center;
   justify-self: center;
   text-align: center;
   gap: 50px;
   font-size: 18px;
   line-height: 30px;

   @include flexBox;
   flex-direction: column;

   .header-service{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      color: $main-green;
      font-size: 24px;
      hr{
         width: 30px;
         height: 3px;
         background: $main-green;
      }
      
   }



  }

  img{
      padding-top: 40px;
      width: 100px;
      opacity: .3;
      transition: all ease-in-out 1s;
  }

}

.half-section-a{
   width: 100%;
   height: 300px;
   background-image: linear-gradient(to right,rgb(0, 0, 0.8),rgba(0, 0, 0, 0.8), rgba(0, 0, 0, .8)),url("/images/half-section-bg.jpg");
   background-position: center;

   display: flex;
   align-items:flex-start;
   justify-content: space-evenly;
   text-align: center;
   
   div{
      text-align: center;
      width: 25%;
      height: 100%;
      padding-top: 100px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-size: 28px;
      color: white;
      transition: all 1s;
      .alt-text{
         margin-top: -10px;
         font-size: 14px;
         opacity: .8;
      }
      &:hover{
         width: 30%;
      }

   }
   .info{
      border-right: 1px solid rgba(255, 255, 255, 0.4);
      
      
   }

   
}

.section-b{
   width: 100%;
   height: 70vh;
   padding: 0 20%;
   margin-top: 50px;
   @include flexBox;
   flex-direction: column;
   text-align: center;

   .product-header{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      color: $main-green;
      font-size: 24px;
      padding-top: 50px;
      hr{
         width: 30px;
         height: 3px;
         background: $main-green;
      }
   }
   .product-text{
      font-size: 18px;
      line-height: 30px;
      padding-top: 40px;
   }
   .product-container{
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      padding-top: 12%;

      .product{
         width: 300px;
         height: 350px;
         background-image: url("/images/product.jpg");
         background-position: center;
         background-size: cover;
         border-radius: 5px;
         box-shadow: rgba(0, 0, 0, 0.55) 0px 2px 8px;

         display: flex;
         flex-direction: column;
         justify-content: flex-end;
         transition: all 1s;

         .product-name{
            background-color: $main-green;
            height: 50px;
            transition: all  1s;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            font-size: 20px;
            color: white;
            h4{
               transition: all  1s;
            }
            a{display: none;transition: all ease-in-out 1s;}
         }
         &:hover{
            transition: all 1s;
            box-shadow: rgba(16, 69, 1, 0.86) 0px 22px 70px 4px;
            .product-name{
               background-color: $main-green;
               height: 30%;
   
               display: flex;
               justify-content: center;
               align-items: center;
               padding: 10px;
               font-size: 20px;
               color: white;
               a{
                  display: flex;
                  font-size: 14px;
                  text-decoration: none;
                  color: white;
                  padding-top: 10px;
                  position: absolute;
                  padding-top: 50px;
               }
            }
         }

      }
   }
}

.section-c{
   width: 100%;
   height: 120vh;
   padding: 0 250px;
   padding-top: 10%;
   
   .offer-top{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      color: $main-green;
      font-size: 24px;
      hr{
         width: 30px;
         height: 3px;
         background: $main-green;
      }
   }

   .offer-container{

      .offer{
         height: 300px;
         display: flex;
         align-items: center;
         justify-content: space-between;
         
         h5{
            width: 30%;
            font-size: 34px;
            color: $main-green;

         }
         p{
            width: 50%;
         }
         img{
            width: 100px;
            opacity: .8;
         }
      }
   }

}

.section-d{
   width: 100%;
   height: 80vh;
   padding: 100px 200px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   gap: 50px;

   .partners-top{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      color: $main-green;
      font-size: 24px;
      hr{
         width: 30px;
         height: 3px;
         background: $main-green;
      }
   }

   .partners-container{
      
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      height: 80%;
      
      .nlk-logo{
         width: 150px;
      }
      div{
         @include flexBox;
         width: 25%;
         height: 50%;
         img{
            width: 80px;
            transition: all 1s;
         }
         
         a{
            position: absolute;
            opacity: 0;
            text-decoration: none;
            color: $main-green;
            font-size: 24px;
            font-weight: 900;
            transition: all 1s;
         }
         &:hover{
            img{
               opacity: 0.1;
            }
            a{
               opacity: 1;
            }
         }
      }
      .partners-top{  
         border-left: 1px solid black;
         border-bottom: 1px solid black; 
         border-right: 1px solid black; 
      }
      .partners-top2{  
         border-bottom: 1px solid black; 
         border-right: 1px solid black; 
      }
      .partners-bot{  
         border-left: 1px solid black; 
         border-right: 1px solid black; 
      }
      .partners-bot2{  
         border-right: 1px solid black; 
      }
      .partners-botcorner{  
         border-top: 1px solid black; 
      }
      
   }
}

footer{
   width: 100%;
   height: 40vh;
   background: $main-green;

   .top-footer{
      display: flex;
      padding: 0px 100px;
      height: 90%;
      align-items: center;
      justify-content: space-evenly;

      .left-footer{
         width: 30%;
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         gap: 30px; 
         img{
            width: 200px;
         }
         p{
            font-size: 18px;
            color: white;
         }
         .footer-social{
            ul{
               display: flex;
               list-style: none;
               font-size: 36px;
               gap: 25px;
               a{
                  color: white;
               }
            }   
         }
      }
      .mid-footer{
         margin-right: 60px;
         width: 30%;
         @include flexBox;
         font-size: 24px;
         ul{
            list-style: none;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
            a{
               text-decoration: none;
               font-size: 20px;
               color: white;
               transition: all 1s;
               font-weight: bold;
               width: 0%;
               border-bottom: solid #d6d6d6 2.5px;
               display: inline-block;
               font-weight: 300;
               &:hover{
                  width: 100%;
                  font-size: 24px;
                  font-weight: 600;
               }
            }
         }
      }
      .right-footer{
         width: 30%;
         display: flex;
         flex-direction: column;
         align-items: flex-end;
         font-size: 18px;
         gap: 20px;

         .address{
            width: 50%;
            display: flex;
            align-items: center;
            gap: 5px;
            padding-bottom: 10px;
         }

         a{
            color: white;
            text-decoration: none;
            i{
               font-size: 30px;
               opacity: 0;
               transition: all 1s;
            }
            &:hover{
               i{
                  opacity: 1;
               }
            }
         }

         .email-button {
            width: 300px;
            position: relative;

            input {

               width: 100%;
               outline: none;
               height: 40px;
               font-size: 18px;
               border: none;
               
            }
            button {
               position: absolute;
               z-index: 2;
               border: none;
               width: 50px;
               height: 40px;
               cursor: pointer;
               color: white;
               background-color: $yellow;
               font-size: 20px;
               color: black;
               transition: all 1s;
               &:hover{
                  font-size: 30px;
               }
               
            }
         }
         
          
      }
   }

   hr{
      
      height: 0px;
      opacity: .4;
   }
   .bottom-footer{
      width: 100%;
      padding: 0 15px ;
      height: 30px;
      font-size: 16px;
      color: white;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      a{
         color: white;
      }
   }

   
}



$layout-breakpoint-small: 1440px;

@media (max-width: $layout-breakpoint-small) {
   
   .section-b{
      padding: 100px 50px;
      
   }
   .section-c{
      padding: 100px 50px;
   }
   .section-d{
      padding: 100px 50px;
   }
}